In [1]:
import pandas as pd
import numpy as np

In [12]:
New_weather_steps = pd.read_csv("/Users/yarianrango/Documents/School/Master-AI-VU/ML quantified/ML4QS/merged.csv")
New_weather_steps = New_weather_steps.drop("Unnamed: 0",axis=1)
#New_weather_steps = New_weather_steps[['start', 'steps', 'temp_celsius', 'rain']]
display(New_weather_steps)

,start,end,value_steps,value_heart,value_workout,temp_celsius,rain
0,2022-01-01 00:00:00,2022-01-01 00:10:00,38.841808,82.0,no workout,111,0
1,2022-01-01 00:10:00,2022-01-01 00:20:00,156.509531,77.5,no workout,111,0
2,2022-01-01 00:20:00,2022-01-01 00:30:00,97.817536,78.5,no workout,111,0
3,2022-01-01 00:30:00,2022-01-01 00:40:00,53.407172,73.5,no workout,111,0
4,2022-01-01 00:40:00,2022-01-01 00:50:00,0.000000,75.5,no workout,111,0
...,...,...,...,...,...,...,...
75020,2023-06-05 23:20:00,2023-06-05 23:30:00,0.000000,60.5,no workout,110,0
75021,2023-06-05 23:30:00,2023-06-05 23:40:00,0.000000,61.0,no workout,110,0
75022,2023-06-05 23:40:00,2023-06-05 23:50:00,0.000000,61.0,no workout,110,0
75023,2023-06-05 23:50:00,2023-06-06 00:00:00,0.000000,61.0,no workout,110,0
75024,2023-06-06 00:00:00,2023-06-06 00:10:00,0.000000,59.5,no workout,105,0

In [13]:
New_weather_steps["value_heart"].replace(0, np.nan, inplace=True)

In [14]:
print(New_weather_steps.isna().sum())

start                0
end                  0
value_steps          0
value_heart      48819
value_workout        0
temp_celsius         0
rain                 0
dtype: int64

In [15]:
for i in range(len(New_weather_steps)):
    if New_weather_steps["temp_celsius"][i] < (0):
        New_weather_steps["temp_celsius"][i] = "Freezing"
    elif New_weather_steps["temp_celsius"][i] < (10*10):
        New_weather_steps["temp_celsius"][i] = "Cold"
    elif New_weather_steps["temp_celsius"][i] < (15*10):
        New_weather_steps["temp_celsius"][i] = "Chilly"
    elif New_weather_steps["temp_celsius"][i] < (20*10):
        New_weather_steps["temp_celsius"][i] = "Comfortable"
    elif New_weather_steps["temp_celsius"][i] < (25*10):
        New_weather_steps["temp_celsius"][i] = "Warm"
    elif New_weather_steps["temp_celsius"][i] >= (25*10):
        New_weather_steps["temp_celsius"][i] = "Hot"
display(New_weather_steps)

/var/folders/fy/8gxynmb96m3_dnrhxs5s9pvw0000gn/T/ipykernel_37529/4240309728.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_weather_steps["temp_celsius"][i] = "Chilly"
/Users/yarianrango/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,start,end,value_steps,value_heart,value_workout,temp_celsius,rain
0,2022-01-01 00:00:00,2022-01-01 00:10:00,38.841808,82.0,no workout,Chilly,0
1,2022-01-01 00:10:00,2022-01-01 00:20:00,156.509531,77.5,no workout,Chilly,0
2,2022-01-01 00:20:00,2022-01-01 00:30:00,97.817536,78.5,no workout,Chilly,0
3,2022-01-01 00:30:00,2022-01-01 00:40:00,53.407172,73.5,no workout,Chilly,0
4,2022-01-01 00:40:00,2022-01-01 00:50:00,0.000000,75.5,no workout,Chilly,0
...,...,...,...,...,...,...,...
75020,2023-06-05 23:20:00,2023-06-05 23:30:00,0.000000,60.5,no workout,Chilly,0
75021,2023-06-05 23:30:00,2023-06-05 23:40:00,0.000000,61.0,no workout,Chilly,0
75022,2023-06-05 23:40:00,2023-06-05 23:50:00,0.000000,61.0,no workout,Chilly,0
75023,2023-06-05 23:50:00,2023-06-06 00:00:00,0.000000,61.0,no workout,Chilly,0
75024,2023-06-06 00:00:00,2023-06-06 00:10:00,0.000000,59.5,no workout,Chilly,0

In [16]:
New_weather_steps["combined"] = np.nan
for j in range(len(New_weather_steps)):
    if New_weather_steps["temp_celsius"][j] == "Freezing" and New_weather_steps["rain"][j] == 0:
        New_weather_steps["combined"][j] = 'freezing_rain0'
    elif New_weather_steps["temp_celsius"][j] == "Freezing" and New_weather_steps["rain"][j] == 1:
        New_weather_steps["combined"][j] = 'freezing_rain1'
    elif New_weather_steps["temp_celsius"][j] == "Cold" and New_weather_steps["rain"][j] == 0:
        New_weather_steps["combined"][j] = 'cold_rain0'
    elif New_weather_steps["temp_celsius"][j] == "Cold" and New_weather_steps["rain"][j] == 1:
        New_weather_steps["combined"][j] = 'cold_rain1'
    elif New_weather_steps["temp_celsius"][j] == "Chilly" and New_weather_steps["rain"][j] == 0:
        New_weather_steps["combined"][j] = 'chilly_rain0'
    elif New_weather_steps["temp_celsius"][j] == "Chilly" and New_weather_steps["rain"][j] == 1:
        New_weather_steps["combined"][j] = 'chilly_rain1'
    elif New_weather_steps["temp_celsius"][j] == "Comfortable" and New_weather_steps["rain"][j] == 0:
        New_weather_steps["combined"][j] = 'comfortable_rain0'
    elif New_weather_steps["temp_celsius"][j] == "Comfortable" and New_weather_steps["rain"][j] == 1:
        New_weather_steps["combined"][j] = 'comfortable_rain1'
    elif New_weather_steps["temp_celsius"][j] == "Warm" and New_weather_steps["rain"][j] == 0:
        New_weather_steps["combined"][j] = 'warm_rain0'
    elif New_weather_steps["temp_celsius"][j] == "Warm" and New_weather_steps["rain"][j] == 1:
        New_weather_steps["combined"][j] = 'warm_rain1'
    elif New_weather_steps["temp_celsius"][j] == "Hot" and New_weather_steps["rain"][j] == 0:
        New_weather_steps["combined"][j] = 'hot_rain0'
    elif New_weather_steps["temp_celsius"][j] == "Hot" and New_weather_steps["rain"][j] == 1:
        New_weather_steps["combined"][j] = 'hot_rain1'
display(New_weather_steps.iloc[:15])

/var/folders/fy/8gxynmb96m3_dnrhxs5s9pvw0000gn/T/ipykernel_37529/2913992027.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_weather_steps["combined"][j] = 'chilly_rain0'
/Users/yarianrango/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,start,end,value_steps,value_heart,value_workout,temp_celsius,rain,combined
0,2022-01-01 00:00:00,2022-01-01 00:10:00,38.841808,82.000000,no workout,Chilly,0,chilly_rain0
1,2022-01-01 00:10:00,2022-01-01 00:20:00,156.509531,77.500000,no workout,Chilly,0,chilly_rain0
2,2022-01-01 00:20:00,2022-01-01 00:30:00,97.817536,78.500000,no workout,Chilly,0,chilly_rain0
3,2022-01-01 00:30:00,2022-01-01 00:40:00,53.407172,73.500000,no workout,Chilly,0,chilly_rain0
4,2022-01-01 00:40:00,2022-01-01 00:50:00,0.000000,75.500000,no workout,Chilly,0,chilly_rain0
5,2022-01-01 00:50:00,2022-01-01 01:00:00,23.000000,75.455767,no workout,Chilly,0,chilly_rain0
6,2022-01-01 01:00:00,2022-01-01 01:10:00,34.890815,74.500000,no workout,Chilly,0,chilly_rain0
7,2022-01-01 01:10:00,2022-01-01 01:20:00,43.919015,75.000000,no workout,Chilly,0,chilly_rain0
8,2022-01-01 01:20:00,2022-01-01 01:30:00,62.288614,72.000000,no workout,Chilly,0,chilly_rain0
9,2022-01-01 01:30:00,2022-01-01 01:40:00,116.399261,69.666667,no workout,Chilly,0,chilly_rain0
10,2022-01-01 01:40:00,2022-01-01 01:50:00,296.394729,73.000000,no workout,Chilly,0,chilly_rain0
11,2022-01-01 01:50:00,2022-01-01 02:00:00,32.521173,68.500000,no workout,Chilly,0,chilly_rain0
12,2022-01-01 02:00:00,2022-01-01 02:10:00,0.000000,73.000000,no workout,Chilly,0,chilly_rain0
13,2022-01-01 02:10:00,2022-01-01 02:20:00,0.000000,70.333333,no workout,Chilly,0,chilly_rain0
14,2022-01-01 02:20:00,2022-01-01 02:30:00,26.824818,73.000000,no workout,Chilly,0,chilly_rain0

In [17]:
New_weather_steps = New_weather_steps[New_weather_steps['combined'].notna()]
New_weather_steps = New_weather_steps.drop(columns=['temp_celsius', 'rain'])
display(New_weather_steps)

,start,end,value_steps,value_heart,value_workout,combined
0,2022-01-01 00:00:00,2022-01-01 00:10:00,38.841808,82.0,no workout,chilly_rain0
1,2022-01-01 00:10:00,2022-01-01 00:20:00,156.509531,77.5,no workout,chilly_rain0
2,2022-01-01 00:20:00,2022-01-01 00:30:00,97.817536,78.5,no workout,chilly_rain0
3,2022-01-01 00:30:00,2022-01-01 00:40:00,53.407172,73.5,no workout,chilly_rain0
4,2022-01-01 00:40:00,2022-01-01 00:50:00,0.000000,75.5,no workout,chilly_rain0
...,...,...,...,...,...,...
75020,2023-06-05 23:20:00,2023-06-05 23:30:00,0.000000,60.5,no workout,chilly_rain0
75021,2023-06-05 23:30:00,2023-06-05 23:40:00,0.000000,61.0,no workout,chilly_rain0
75022,2023-06-05 23:40:00,2023-06-05 23:50:00,0.000000,61.0,no workout,chilly_rain0
75023,2023-06-05 23:50:00,2023-06-06 00:00:00,0.000000,61.0,no workout,chilly_rain0
75024,2023-06-06 00:00:00,2023-06-06 00:10:00,0.000000,59.5,no workout,chilly_rain0

In [18]:
New_weather_steps.to_csv("Transformed_weather_steps.csv")

In [10]:
#New_weather_steps["combined"].value_counts(sort = True)
pd.crosstab(index=New_weather_steps['combined'], columns='count')

col_0     count
combined
1.0        2976
2.0          90
3.0       25710
4.0        7758
5.0       15241
6.0        4602
7.0       10920
8.0        1452
9.0        4584
10.0        258
11.0       1434

In [11]:
col1, col2 = "steps", "combined"
corr = New_weather_steps[col1].corr(New_weather_steps[col2])
print ("Correlation between ", col1, " and ", col2, "is: ", round(corr, 2))

KeyError: 'steps'